<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.array.mapper.EmpMapper">
    <!-- 逻辑删除/恢复 -->
    <update id="modifyStateBatch">
        update emp set state=#{state} where id in
        <foreach collection="idArr" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>